# tokens de botfather
TELEGRAM_TOKEN=token_del_bot
TELEGRAM_CHAT_ID=id_del_chat_del_grupo
# zona horaria
TIMEZONE=America/Guatemala

# datos del grupo
CONTACT_INFO=GRUPO 3 IA 1 
TELEGRAM_GROUP_LINK=https://t.me/enlace_del_grupo
MEMBERS=Harold Sánchez - 202200100, Nombre Apellido - Carnet 2

# Segundos de espera de cada consulta getUpdates.
POLL_TIMEOUT=30





